.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  position: sticky;
  top: 0;
  background-color: rgb(235, 235, 235);
  
}

.header_logo {
  height: 25px;
  object-fit: contain;
  margin-left: 15px;
}

.header_input {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 50px;
  
}
.header_right {
  display: flex;
  align-items: center;
}
.header_inputButton {
  /* width: 50px  !important;
  height: 43px !important; */

  background-color: #e2e2e2;
  border-left: 1px solid lightgray;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 0 50px 50px 0;
  padding: 9px;
  color: black;
}

.header_input > input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  width: 40%;
  height: 40px;
  padding: 20px ;
}

.header_right {
  margin-right: 8px;
}
