.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 20px;
    
    

}
.sidebarRow_icon{
    color: black;
    font-size: large !important;
}
.sidebarRow_title{
    flex: 1;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500 !important;
}
.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 50px;
}
.sidebarRow:hover > .sidebarRow_icon{
    color: red ;
}
.sidebarRow:hover > .sidebarRow_title {
    font-weight: bold !important;
}
.sidebarRow.selected{
    background-color: lightgray;
    border-radius: 50px;
}

.sidebarRow.selected > .sidebarRow_icon{
    color: red;
    
}
.sidebarRow.selected > .sidebarRow_title {
    font-weight: bold !important;
    
}